* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
canvas {
    width: 85%;
    height: 100vh;
    position: absolute;
}
div#overlay {
    text-align: center;
    color: white;
    z-index: 99;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
}

div#content {
    width: 50%;
    margin: auto;
}

td {
    padding: 5pt;
}

h1 {
    margin-bottom: 30pt;
}

.error {
    color: #ff5555;
}

div.game {
    display: inline-block;
    margin: 5pt;
    text-align: center;
    color: white;
    padding: 10pt;
    border-radius: 20pt;
    border: solid 2px white;
    background-color: #339054;
    width: fit-content;
}

div.game span:first-of-type {
    font-size: 1.3em;
    font-weight: bold;
}

div.game button {
    width: fit-content;
    margin-top: 10pt;
}

button, input {
    background-color: #187839;
    border-radius: 5pt;
    border-color: white;
    padding: 5pt;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }

div.game.pass button::after{
    content: " 🔒";
}

div#chat {
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    height: 100vh;
}
div#messages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 1.7em;
    overflow: hidden;
    display: table-cell;
    vertical-align: bottom;
}
form#chat-message {
    position: absolute;
    bottom: 0;
    width: 100%;
}
input#new-message {
    width: 100%;
    box-sizing: border-box;
}
input#send-message {
    width: 100%;
    font-size: 1.2em;
}
.chat-msg span {
    display:block;
    word-wrap:break-word;
}
.chat-msg.console span:first-of-type {
    color: red;
}
.chat-msg.player span:first-of-type {
    color: darkgreen;
}
.chat-msg.self span:first-of-type {
    color: darkblue;
}